// This is where you put stying for things that will be used in more than one area
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
}

i.fa {
	span {
		@media screen, print {
			display: none;
		}
	}
}

.has-subtitle {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

img.alignright,
img.alignleft {
    width: 100%;
    @media (min-width: 640px) {
        max-width: 40%;
        width: auto;
    }
}

.dark {
    color: $white;
    a:not(.btn) {
        color: $white;
    }
}

.add-extra-padding {
	padding-left: 15px;
	padding-right: 15px;
}

.clear {
	@extend .clearfix;
}

label.required {
    &::after {
        content: ' *';
    }
}



.text-xs-center {
    text-align: center;
}

.text-xs-left {
    text-align: left;
}

.text-xs-right {
    text-align: right;
}



.text-sm-center {
    @media (min-width: $screen-sm-min) {
        text-align: center;
    }
}

.text-sm-left {
    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.text-sm-right {
    @media (min-width: $screen-sm-min) {
        text-align: right;
    }
}



.text-md-center {
    @media (min-width: $screen-md-min) {
        text-align: center;
    }
}

.text-md-left {
    @media (min-width: $screen-md-min) {
        text-align: left;
    }
}

.text-md-right {
    @media (min-width: $screen-md-min) {
        text-align: right;
    }
}



.text-lg-center {
    @media (min-width: $screen-lg-min) {
        text-align: center;
    }
}

.text-lg-left {
    @media (min-width: $screen-lg-min) {
        text-align: left;
    }
}

.text-lg-right {
    @media (min-width: $screen-lg-min) {
        text-align: right;
    }
}

figure.gallery-item {
    border: 3px solid rgba(200,200,200,0.8);
    float: left;
    margin: 15px;
    transition: all 250ms;
    &:active,
    &:focus,
    &:hover {
        box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    }
}

// Styling for the flexbox on the blog
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    article {
        padding: 0 15px 30px;
        width: 100%;
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 50%;
        }
        @media (min-width: $screen-md-min) {
            width: 33.33333333%;
        }
    }
}

// styling for the meta information
.article-meta,
.single-tagged-as {
    border-bottom: 1px solid $sherpa-primary-color;
    border-top: 1px solid $sherpa-primary-color;
    margin: 5px 0;
    padding: 5px 0;
    a {
        text-transform: capitalize;
    }
}