// This is where you put stying for things that will be used in more than one area

img {
	max-width: 100%;
}

i.fa {
	span {
		@media screen, print {
			display: none;
		}
	}
}

.has-subtitle {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

img.alignright {
    width: 100%;
    @media (min-width: 640px) {
        max-width: 40%;
        width: auto;
    }
}

.dark {
    color: $white;
    a:not(.btn) {
        color: $white;
    }
}

.social-media-button {
	color: $sm-color;
	display: table-cell;
    text-align: center;
    transition: all 250ms;
	vertical-align: middle;
	&:hover,
	&:active,
	&:focus {
		color: $sm-hover-color;
		text-decoration: none;
	}
	&.lg {
    	font-size: 17px;
		height: 40px;
		width: 40px;
	}
	&.sm {
		height: 25px;
		width: 25px;
	}
	&.circle {
		@extend .img-circle;
	}
	&.rounded {
		@extend .img-rounded;
	}
	&.square {
		border-radius: 0px;
	}

	&.facebook-button.lighten {
		@include sm-lighten($color-facebook);
	}
	&.twitter-button.lighten {
		@include sm-lighten($color-twitter);
	}
	&.googleplus-button.lighten {
		@include sm-lighten($color-google-plus);
	}
	&.pinterest-button.lighten {
		@include sm-lighten($color-pinterest);
	}
	&.linkedin-button.lighten {
		@include sm-lighten($color-linkedin);
	}
	&.youtube-button.lighten {
		@include sm-lighten($color-youtube);
	}

	&.facebook-button.darken {
		@include sm-darken($color-facebook);
	}
	&.twitter-button.darken {
		@include sm-darken($color-twitter);
	}
	&.googleplus-button.darken {
		@include sm-darken($color-google-plus);
	}
	&.pinterest-button.darken {
		@include sm-darken($color-pinterest);
	}
	&.linkedin-button.darken {
		@include sm-darken($color-linkedin);
	}
	&.youtube-button.darken {
		@include sm-darken($color-youtube);
	}

	&.facebook-button.singlecolor {
		@include sm-single-color($singlecolor, $color-facebook);
	}
	&.twitter-button.singlecolor {
		@include sm-single-color($singlecolor, $color-twitter);
	}
	&.googleplus-button.singlecolor {
		@include sm-single-color($singlecolor, $color-google-plus);
	}
	&.pinterest-button.singlecolor {
		@include sm-single-color($singlecolor, $color-pinterest);
	}
	&.linkedin-button.singlecolor {
		@include sm-single-color($singlecolor, $color-linkedin);
	}
	&.youtube-button.singlecolor {
		@include sm-single-color($singlecolor, $color-youtube);
	}
}

#sm-top {
    li {
        padding: 0 2px;
    }
}

.add-extra-padding {
	padding-left: 15px;
	padding-right: 15px;
}

.clear {
	@extend .clearfix;
}

label.required {
    &::after {
        content: ' *';
    }
}

blockquote.testimonial {
	background-color: $testimonial-a;
	border: 0;
	border-top: 5px solid $testimonial-a-border-color;
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	min-height: 12em;
	padding: 1em 3.1428571429em 1em 10em;
	position: relative;
	&:nth-of-type(2n) {
		background-color: $testimonial-b;
		border-top: 5px solid $testimonial-b-border-color;
		.profile-pic {
			border-color: $testimonial-b-accent;
		}
		.quote {
    		color: $testimonial-b-color;
    		text-shadow: 1px 1px 0px transparentize($white, 0.9);
			&:before,
			&:after {
				color: $testimonial-b-accent;
				text-shadow: 0 0 0 transparent;
			}
		}
	}
	.profile-pic {
		border: 5px solid $testimonial-a-accent;
		left: 1em;
		position: absolute;
		top: 1em;
		width: 8em;
	}
	.star-rating {
		left: 1em;
		position: absolute;
		top: 150px;
		width: 8em;
	}
	.quote {
		color: $testimonial-a-color;
		padding: 0 1em 0 2em;
		position: relative;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
		&:before,
		&:after {
			color: $testimonial-a-accent;
			display: inline-block;
			font-family: "Georgia", serif;
			font-size: 10em;
			position: absolute;
			text-shadow: 0 0 0 transparent;
			z-index: 1;
		}
		&:before {
			content: "\201C";
			left: 0;
			top: -0.2em;
		}
		&:after {
			content: "\201D";
			bottom: -0.85em;
			right: 0;
		}
		> * {
			position: relative;
			z-index: 100;
		}
		h3 {
			margin-top: 0;
			.post-edit-link {
				display: inline-block;
				font-size: 0.5em;
				margin-left: 1.5em;
			}
		}
	}
}


.text-xs-center {
    text-align: center;
}

.text-xs-left {
    text-align: left;
}

.text-xs-right {
    text-align: right;
}



.text-sm-center {
    @media (min-width: $screen-sm-min) {
        text-align: center;
    }
}

.text-sm-left {
    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.text-sm-right {
    @media (min-width: $screen-sm-min) {
        text-align: right;
    }
}



.text-md-center {
    @media (min-width: $screen-md-min) {
        text-align: center;
    }
}

.text-md-left {
    @media (min-width: $screen-md-min) {
        text-align: left;
    }
}

.text-md-right {
    @media (min-width: $screen-md-min) {
        text-align: right;
    }
}



.text-lg-center {
    @media (min-width: $screen-lg-min) {
        text-align: center;
    }
}

.text-lg-left {
    @media (min-width: $screen-lg-min) {
        text-align: left;
    }
}

.text-lg-right {
    @media (min-width: $screen-lg-min) {
        text-align: right;
    }
}

figure.gallery-item {
    border: 3px solid rgba(200,200,200,0.8);
    float: left;
    margin: 15px;
    transition: all 250ms;
    &:active,
    &:focus,
    &:hover {
        box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    }
}

// Styling for the flexbox on the blog
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    article {
        padding: 0 15px 30px;
        width: 100%;
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 50%;
        }
        @media (min-width: $screen-md-min) {
            width: 33.33333333%;
        }
    }
}

// styling for the meta information
.article-meta,
.single-tagged-as {
    border-bottom: 1px solid $sherpa-primary-color;
    border-top: 1px solid $sherpa-primary-color;
    margin: 5px 0;
    padding: 5px 0;
    a {
        text-transform: capitalize;
    }
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/overlay.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../img/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../img/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../img/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../img/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}